<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Userappsuite">
  <test thread-count="5" name="Test">
    <classes>
     <class name="test.classes.Registration_page_changes"/> 
     <class name="test.classes.Verify_Loginfunctionailty"/>   
     <class name="test.classes.Verify_Logoutfunctionailty"/>
  	 <class name="test.classes.Verify_allpages"/> 
  	 <class name="test.classes.Verify_gamesearch"/>
  	 <class name="test.classes.Verify_Allgamecategory"/>	 
  	 <class name="test.classes.Verify_Languagechange"/>
  	 <class name="test.classes.Verify_Darkandlightmode"/>
  	 <class name="test.classes.Verify_Allprovider"/>
  	 <class name="test.classes.Verify_categorycount"/>
  	 
      
    </classes>																															
  </test> <!-- Test -->	
</suite> <!-- Suite -->
